BACKEND

backend/.env
backend/firebase-service-account.json
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
*.pyc
*.pyo
backend/uploads/

FRONTEND

frontend/node_modules/
frontend/dist/

GENERAL

.env
.DS_Store
Thumbs.db